<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>article</h1>
      <a href="/articles">Home</a>
     <a href="/articles/create">create new article</a>
        <h2><%=article.title %></h2>
        <h2><%=article.description %></h2>
        <h2><%=article.likes %></h2>  
        <a href="/articles/<%= article.id %>/edit">edit</a>  
        <a href="/articles/<%= article.id %>/delete">delete</a>        
</body>
</html>